
.container{
    display:flex;
    height:100vh;
}
.left{
    background-image: url(./images/tulip-background.jpg);
    width:100vh;
    background-size:cover;
    display:flex;
    align-items:center;
}

.left-text{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:155px;
    background-color:rgb(250, 250, 210, 0.7);

}

.left-text img{
    width:90px;
    height:auto;
}